html {
    font-size: 62.5%;
    font-family: 'Titillium Web', sans-serif;
}
.LightRiders-wrapper {
    background: #3e3e3e;
    height: 100%;
    background: url('../img/background.png') no-repeat center;
    background-size: cover;
    position: relative;
}

.LightRiders {
    /*border: 1px solid red;*/
    height: 100%;
    width: 100%;
}
.Players-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.Players {
    position: relative;
    border: 1px solid white;
    margin-left: auto;
    margin-right: auto;
}
.Player {
    position: absolute;
}
.Player-name {
    font-size: 2rem;
    font-family: 'Titillium Web', sans-serif;
    display: inline-block;
    margin: 0 10px;
}
.Player:nth-of-type(1) .Player-name,
.Player:nth-of-type(2) .Player-name{
    vertical-align: top;
}
.Player:nth-of-type(3) .Player-name,
.Player:nth-of-type(4) .Player-name {
    vertical-align: bottom;
}
.Player1 .Player-name {
    color: #6AA0FC;
}
.Player2 .Player-name {
    color: #E419F9;
}
.Player3 .Player-name {
    color: #00FF0C;
}
.Player4 .Player-name {
    color: #F7FF55;
}
.AvatarWrapper {
    width: 60px;
    height: 60px;
    border: 1px solid #5e6565;
    border-radius: 2px;
    display: inline-block;
}
.Cell {
    stroke: #424a4a;
}
.Position--p1 {
    fill: #6AA0FC;
}
.Position--p2 {
    fill: #E419F9;
}
.Position--p3 {
    fill: #00FF0C;
}
.Position--p4 {
    fill: #F7FF55;
}
.Wall--p1 {
    fill: #00bfbf;
}
.Wall--p2 {
    fill: #c100c1;
}
.Wall--p3 {
    fill: #37a852;
}
.Wall--p4 {
    fill: #bfbf00;
}
